body {
    background-color: #6D0000;
    font-family: 'Rubik', sans-serif;
}

.box {
    border-radius: 20px;
    background-color: #fff;
    margin: auto;
    width: 80%;
    padding: 20px;
    margin-top: 5em;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    justify-content: center;
    margin:0;
}

.box h1 {
    text-align: center;
}

.course {
    width: calc(33.33% - 20px);
    border: 2px solid #ddd; 
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto;
    flex: 1 0 calc(33.33% - 20px);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.course-title {
    font-size: 1.4em;
    font-weight: bold;
    color: #6D0000; 
    margin-bottom: 10px;
}

button {
    background-color: #6D0000; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, button:focus {
    background-color: #550000;

}

button:disabled, .added-to-watchlist {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .course {
        width: calc(50% - 20px); 
        flex: 1 0 calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    .course {
        width: 100%; 
        flex: 1 0 100%;
    }
}


.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input[type="text"] {
    width: 60%;
    padding: 12px;
    margin-right: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-form button {
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #6D0000;
    color: white;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #550000;
}


.filter-icon {
    display: inline-block;
    color: #6D0000;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}

.filter-icon:hover {
    color: #550000;
}

.inline {
    display: inline-flex
}

.section {
    float: right;
}

.watch {
    float: left;
}