body {
    background-color: #f0f0f0; 
    font-family: 'Rubik', sans-serif;
    color: black; 
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 25px; 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 60%; 
    max-width: 600px; 
    padding: 15px; 
    margin-top: 2em; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.filterBlock {
    width: 100%;
    margin-bottom: 20px; 
}

.filterBlock ul {
    list-style-type: none;
    padding-left: 0; 
}

.filterBlock li {
    margin-bottom: 10px; 
}

.filterBlock input[type='radio'], .filterBlock input[type='checkbox'] {
    margin-right: 10px; 
}

.filterBlock label {
    cursor: pointer;
    font-size: 1em; 
    display: inline-block;
}

.list {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}


button[type='submit'] {
    background-color: #6D0000;
    color: white;
    border-radius: 20px; 
    font-weight: bold;
    font-size: 1em; 
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: block; 
    margin: 0 auto; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type='submit']:hover {
    background-color: #4d0000;
}

@media (max-width: 600px) {
    .container {
        width: 80%;
    }

    button[type='submit'] {
        width: 60%; 
        font-size: 1em; 
    }
}
