{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Course Selections</title>
    <link rel="stylesheet" href="{% static 'EagleVision\courseselection.css' %}">
</head>
<body>
    <div class="box m-2 w-90 h-90"> 
        <h1> Course Selections</h1>
        <ul>
        {% for course in courses %}
            <div class="course-list">
            {% if course is not None %}
                <li>{{ course.title }} <br> This would be the description {{ course.description }}</li>
            {% endif %}
        {% endfor %}
            </div>
        </ul>
    </div>
</body>
</html>
