{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Course Selections</title>
    <link rel="stylesheet" href="{% static 'EagleVision\courseselection.css' %}">
</head>
<body>
    <div class="box m-2 w-90 h-90"> 
        <h1>Course Selections</h1>

        <form action="{% url 'search_results' %}" method="GET">
            <input type="text" name="search_query" placeholder="Search for courses...">
            <button type="submit">Search</button>
        </form>
        
            {% for course in courses %}
                <div class="course-list">
                    {% if course.title %}
                        <div class="course">
                            <p class="course-title">{{ course.title }}<hr></p>
                            <p>Date: {{ course.date }}<hr></p>
                            <p>Description: {{ course.description }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
    </div>
</body>
</html>