{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Detailed Report</title>
    <link rel="stylesheet" href="{% static 'EagleVision/courseselection.css' %}">
</head>
<body>
    <div class="box m-2 w-90 h-90">
        <h1>Detailed Report for {{ course.title }}</h1>
        {% for section in sections_data %}
            <h3>Section: {{ section.section_title }}</h3>
            {% for student in section.watchers %}
                <p>Name: {{ student.name }}</p>
                <p>Email: {{ student.email }}</p>
                <p>Department: {{ student.department }}</p>
            {% empty %}
                <p>No students watching this section.</p>
            {% endfor %}
        {% empty %}
            <p>No sections found.</p>
        {% endfor %}
    </div>
</body>
</html>

