{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Course Filtering</title>
    <link rel="stylesheet" href="{% static 'EagleVision\filters.css' %}">
</head>
{% comment %} Use getCourseOfferingsByCode for major,
              getEffectiveCourseOfferingsOnDate for date,
              getCourseOfferingsByTerm for term. 
              Put a filter for times in the courses page. 
            {% endcomment %}
<body>
    <form action="{% url 'filterRequest' %}" method="GET">
        <div class="box"> 
            <h1> Course Course Filters</h1>
            <div class="row">
                <ul class="col">
                    <li><input type="radio" name="term"><label>Fall</label></li><br>
                    <li><input type="radio" name="term"><label>Spring</label></li><br>
                    <li><input type="radio" name="term"><label>Summer</label></li><br>
                </ul>
                <ul class="col">
                    <li><input type="radio" name="major"><label>AADS</label></li><br>
                    <li><input type="radio" name="major"><label>CSCI</label></li><br>
                    <li><input type="radio" name="major"><label>MATH</label></li><br>
                    <li><input type="radio" name="major"><label>BIOL</label></li><br>
                    <li><input type="radio" name="major"><label>CHEM</label></li><br>
                    <li><input type="radio" name="major"><label>ENVS</label></li><br>
                    <li><input type="radio" name="major"><label>PHIL</label></li><br>
                </ul> 
                <ul class="col">
                    <li><input type="checkbox" name="date"><label>M</label></li><br>
                    <li><input type="checkbox" name="date"><label>T</label></li><br>
                    <li><input type="checkbox" name="date"><label>W</label></li><br>
                    <li><input type="checkbox" name="date"><label>TH</label></li><br>
                    <li><input type="checkbox" name="date"><label>F</label></li><br>
                </ul>
            </div>
        </div>
        <button type="submit"> Filter </button>
    </form>
</body>
</html>
