{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'EagleVision/loginStyle.css' %}">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </head>
    <body>
        <div class="login-container"> 
            <div class="bclogo">
                <img src="{% static 'EagleVision/BCLogo.png' %}" alt="Boston College Logo">
                <div class="title">{{ Title }}</div>
            </div>
            <a href="{% url 'login' %}" class="google-login-button">Login with Google</a>
        </div>
    </body>
</html>
