{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'EagleVision/loginStyle.css' %}">
    </head>
    <body>
        <div class="login-container"> 
            <div class="bclogo">
                <img src="{% static 'EagleVision/BCLogo.png' %}" alt="Boston College Logo">
                <div class="title">{{ Title }}</div>
            </div>
            <a href="{% url 'login' %}" class="google-login-button">Login with Google</a>
        </div>
    </body>
</html>
