{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Course Selections</title>
    <link rel="stylesheet" href="{% static 'EagleVision\courseselection.css' %}">
</head>
<body>
    <nav class="nav-menu">
        <a href="{% url 'profile'%}">Home</a>
        <a href="{% url 'watchlist' %}" class="active">My WatchList</a>
        <a href="#">Export Schedule</a>
        <a href =" {% url 'courseselect' %}">Search Courses</a>
    </nav>
    <div class="box m-2 w-90 h-90"> 
        <h1>Sections</h1>
        
        <form action="{% url 'search_results' %}" method="GET">
            <input type="text" name="search_query" placeholder="Enter course titles to search...">
            <button type="submit">Search</button>
        </form>
        <div class="filter"> <a href="{% url 'filter'%}"> Filter </a> </div>
            {% for section in data %}
            <div class="course-list">
                    <div class="course">
                        <p class="course-title">{{ section.title }}<hr></p>
                        <p>Schedule: {{ section.location }}</p>
                        <p>Instructor: {{ section.instructor }}<hr></p>
                        <p>Seats: {{ section.currentSeats }}/{{ section.maxSeats }}</p>
                        {% if section.id in user_watchlist_section_ids %}
                        <button disabled class="added-to-watchlist">Added</button>
                        {% else %}
                   
                        <form action="{% url 'add_to_watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="section_id" value="{{ section.section_id }}">
                            <button type="submit" class="add-to-watchlist">Add to Watchlist</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </body>
</html>