
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'EagleVision/profile.css' %}">
        <title>User Profile</title>
    </head>
    <body>
        <div class="dashboard">
            <aside class="sidebar">
                <div class="profile">
                    <img src="{% static 'images/user-avatar.png' %}" alt="User Avatar" class="avatar" height="105">
                    <h2>{{ user.name }}</h2> 
                </div>
                <nav class="nav-menu">
                    <a href="{% url 'profile' %}" class="active">Home</a>
                    <a href="{% url 'watchlist' %}">My WatchList</a>
                    <a href="{% url 'courseselect' %}">Search Courses</a>
                    <a href="{% url 'edit_student_info' %}">Edit Student Info</a>

                    {% if user.is_staff %}
                        <a href="{% url 'admin_report' %}">Admin Report</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">Logout</a>

                </nav>
            </aside>
            <main class="main-content">
                <div class="container">
                    <div class="bclogo">
                        <img src="{% static 'images/BCLogo.png' %}" alt="Boston College Logo" width="320" height="180">
                    </div>
                    <div class="info">
                            <h3>Name:</h3>    {{ user.name }}
                            <h3>Email:</h3>    {{ user.email }}
                            <h3>School:</h3>    {{ user.department}}
    
                        {% if user.is_staff %}
                        
                            <h3>User Type:</h3> Admin
                            <h3>System State:</h3>
                            {% if system_state %}
                                {% if system_state.state %}
                                    Open
                                {% else %}
                                    Closed
                                {% endif %}
                            {% else %}
                                Not Set
                            {% endif %}
                            <br>
                            <div class="system-state">
                                <form method="post" action="{% url 'change_state' %}" style="margin-top: 10px;">
                                    {% csrf_token %}
                                    <button type="submit">Change State</button>
                                </form>
                            </div>

                        {% else %}
                            <h3>User Type:</h3> Student
                            <h3>Eagle ID:</h3> {{ user.eagle_id }}
                            <h3>Graduating:</h3> {{ user.graduation_semester }}
                        
                            {% if user.major_1 %}
                                <h3>Major 1:</h3> {{ user.major_1 }}
                            {% endif %}
                        
                            {% if user.major_2 %}
                                <h3>Major 2:</h3> {{ user.major_2 }}
                            {% endif %}
                        
                            {% if user.major_3 %}
                                <h3>Major 3:</h3> {{ user.major_3 }}
                            {% endif %}
                        
                            {% if user.minor_1 %}
                                <h3>Minor 1:</h3> {{ user.minor_1 }}
                            {% endif %}
                        
                            {% if user.minor_2 %}
                                <h3>Minor 2:</h3> {{ user.minor_2 }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>