
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'EagleVision/profile.css' %}">
        <title>User Profile</title>
    </head>
    <body>
        <div class="container">
            <div class="bclogo">
                <img src="{% static 'EagleVision/BCLogo.png' %}" alt="Boston College Logo" width="480" height="270">
            </div>
            <h1>Welcome to Your User Profile</h1>
            <div class="info">
                <p>Name:</p>    {{ user.name }}
                <p>Email:</p>    {{ user.email }}
                <p>Department:</p>    {{ user.department }}
                {% if user.is_staff %}
                
                    <p>User Type:</p> Admin
                    <p>System State:</p>
                    {% if system_state %}
                        {% if system_state.state %}
                            Open
                        {% else %}
                            Closed
                        {% endif %}
                    {% else %}
                        Error
                    {% endif %}
                    <br>
                    <div class="system-state">
                        <form method="post" action="{% url 'change_state' %}" style="margin-top: 10px;">
                            {% csrf_token %}
                            <button type="submit">Change State</button>
                        </form>
                    </div>

                {% else %}
                    <p>User Type:</p> Student
                {% endif %}
            </div>
            <div class="courses">
                <a href="#">Courses</a>
            </div>
            <div class="logout">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </body>
</html>